{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}DoorOpener 2.0{% endblock %}
{% block head %}
  {{super()}}
  <link href="{{url_for('static', filename="stylesheets/styles.css") }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
             data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">DoorOpener 2.0</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div id="main-bit">
    <div class="page-header">
        <form method="POST">
          {{ form.hidden_tag() }}
          <div>
            {{form.userName.label}}{{form.userName(class_="form-control")}}
          </div>
          <div>
            {{form.password.label}} {{form.password(class_="form-control")}}
          </div>
          {{form.submit}}
        </form>
    </div>
  </div>
</div>
{% endblock %}
